.body{
    background-color: black;
}

.formExp{
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
}

.table{
    width: 70%;
   
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    
}
.titre-historique{
    text-align: center;   
    margin-top: 2%;
}

.parametre{
    width: 45%;
    text-align: center;
}
.param{
    
    width: 50%;
    margin-left: 24%;
    padding-left: 12%;
    text-align: center;
}